# coding: utf-8

"""
    sp

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0.6.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ConnectionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def connections_conn_id_accept_invitation_post(self, conn_id, **kwargs):  # noqa: E501
        """Accept a stored connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_accept_invitation_post(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str mediation_id: Identifier for active mediation record to be used
        :param str my_endpoint: My URL endpoint
        :param str my_label: Label for connection
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_accept_invitation_post_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_accept_invitation_post_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_accept_invitation_post_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Accept a stored connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_accept_invitation_post_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str mediation_id: Identifier for active mediation record to be used
        :param str my_endpoint: My URL endpoint
        :param str my_label: Label for connection
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id', 'mediation_id', 'my_endpoint', 'my_label']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_accept_invitation_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_accept_invitation_post`")  # noqa: E501

        if self.api_client.client_side_validation and ('mediation_id' in params and not re.search(r'[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['mediation_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `mediation_id` when calling `connections_conn_id_accept_invitation_post`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")  # noqa: E501
        if self.api_client.client_side_validation and ('my_endpoint' in params and not re.search(r'^[A-Za-z0-9\\.\\-\\+]+:\/\/([A-Za-z0-9][.A-Za-z0-9-]+[A-Za-z0-9])+(:[1-9][0-9]*)?(\/[^?&#]+)?$', params['my_endpoint'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `my_endpoint` when calling `connections_conn_id_accept_invitation_post`, must conform to the pattern `/^[A-Za-z0-9\\.\\-\\+]+:\/\/([A-Za-z0-9][.A-Za-z0-9-]+[A-Za-z0-9])+(:[1-9][0-9]*)?(\/[^?&#]+)?$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []
        if 'mediation_id' in params:
            query_params.append(('mediation_id', params['mediation_id']))  # noqa: E501
        if 'my_endpoint' in params:
            query_params.append(('my_endpoint', params['my_endpoint']))  # noqa: E501
        if 'my_label' in params:
            query_params.append(('my_label', params['my_label']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/accept-invitation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_accept_request_post(self, conn_id, **kwargs):  # noqa: E501
        """Accept a stored connection request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_accept_request_post(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str my_endpoint: My URL endpoint
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_accept_request_post_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_accept_request_post_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_accept_request_post_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Accept a stored connection request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_accept_request_post_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str my_endpoint: My URL endpoint
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id', 'my_endpoint']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_accept_request_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_accept_request_post`")  # noqa: E501

        if self.api_client.client_side_validation and ('my_endpoint' in params and not re.search(r'^[A-Za-z0-9\\.\\-\\+]+:\/\/([A-Za-z0-9][.A-Za-z0-9-]+[A-Za-z0-9])+(:[1-9][0-9]*)?(\/[^?&#]+)?$', params['my_endpoint'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `my_endpoint` when calling `connections_conn_id_accept_request_post`, must conform to the pattern `/^[A-Za-z0-9\\.\\-\\+]+:\/\/([A-Za-z0-9][.A-Za-z0-9-]+[A-Za-z0-9])+(:[1-9][0-9]*)?(\/[^?&#]+)?$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []
        if 'my_endpoint' in params:
            query_params.append(('my_endpoint', params['my_endpoint']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/accept-request', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_delete(self, conn_id, **kwargs):  # noqa: E501
        """Remove an existing connection record  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_delete(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :return: ConnectionModuleResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_delete_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_delete_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_delete_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Remove an existing connection record  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_delete_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :return: ConnectionModuleResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionModuleResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_endpoints_get(self, conn_id, **kwargs):  # noqa: E501
        """Fetch connection remote endpoint  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_endpoints_get(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :return: EndpointsResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_endpoints_get_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_endpoints_get_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_endpoints_get_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Fetch connection remote endpoint  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_endpoints_get_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :return: EndpointsResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_endpoints_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_endpoints_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/endpoints', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EndpointsResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_establish_inbound_ref_id_post(self, conn_id, ref_id, **kwargs):  # noqa: E501
        """Assign another connection as the inbound connection  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_establish_inbound_ref_id_post(conn_id, ref_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str ref_id: Inbound connection identifier (required)
        :return: ConnectionModuleResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_establish_inbound_ref_id_post_with_http_info(conn_id, ref_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_establish_inbound_ref_id_post_with_http_info(conn_id, ref_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_establish_inbound_ref_id_post_with_http_info(self, conn_id, ref_id, **kwargs):  # noqa: E501
        """Assign another connection as the inbound connection  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_establish_inbound_ref_id_post_with_http_info(conn_id, ref_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str ref_id: Inbound connection identifier (required)
        :return: ConnectionModuleResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id', 'ref_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_establish_inbound_ref_id_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_establish_inbound_ref_id_post`")  # noqa: E501
        # verify the required parameter 'ref_id' is set
        if self.api_client.client_side_validation and ('ref_id' not in params or
                                                       params['ref_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `ref_id` when calling `connections_conn_id_establish_inbound_ref_id_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501
        if 'ref_id' in params:
            path_params['ref_id'] = params['ref_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/establish-inbound/{ref_id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionModuleResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_get(self, conn_id, **kwargs):  # noqa: E501
        """Fetch a single connection record  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_get(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_get_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_get_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_get_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Fetch a single connection record  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_get_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_metadata_get(self, conn_id, **kwargs):  # noqa: E501
        """Fetch connection metadata  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_metadata_get(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str key: Key to retrieve.
        :return: ConnectionMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_metadata_get_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_metadata_get_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_metadata_get_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Fetch connection metadata  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_metadata_get_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param str key: Key to retrieve.
        :return: ConnectionMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_metadata_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_metadata_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []
        if 'key' in params:
            query_params.append(('key', params['key']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/metadata', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionMetadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_conn_id_metadata_post(self, conn_id, **kwargs):  # noqa: E501
        """Set connection metadata  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_metadata_post(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param ConnectionMetadataSetRequest body:
        :return: ConnectionMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_metadata_post_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_metadata_post_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_metadata_post_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Set connection metadata  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_metadata_post_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param ConnectionMetadataSetRequest body:
        :return: ConnectionMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_metadata_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_metadata_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/metadata', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionMetadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_create_invitation_post(self, **kwargs):  # noqa: E501
        """Create a new connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_create_invitation_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateInvitationRequest body:
        :param str alias: Alias
        :param bool auto_accept: Auto-accept connection (defaults to configuration)
        :param bool multi_use: Create invitation for multiple use (default false)
        :param bool public: Create invitation from public DID (default false)
        :return: InvitationResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_create_invitation_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.connections_create_invitation_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def connections_create_invitation_post_with_http_info(self, **kwargs):  # noqa: E501
        """Create a new connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_create_invitation_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateInvitationRequest body:
        :param str alias: Alias
        :param bool auto_accept: Auto-accept connection (defaults to configuration)
        :param bool multi_use: Create invitation for multiple use (default false)
        :param bool public: Create invitation from public DID (default false)
        :return: InvitationResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'alias', 'auto_accept', 'multi_use', 'public']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_create_invitation_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'alias' in params:
            query_params.append(('alias', params['alias']))  # noqa: E501
        if 'auto_accept' in params:
            query_params.append(('auto_accept', params['auto_accept']))  # noqa: E501
        if 'multi_use' in params:
            query_params.append(('multi_use', params['multi_use']))  # noqa: E501
        if 'public' in params:
            query_params.append(('public', params['public']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/create-invitation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvitationResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_create_static_post(self, **kwargs):  # noqa: E501
        """Create a new static connection  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_create_static_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectionStaticRequest body:
        :return: ConnectionStaticResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_create_static_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.connections_create_static_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def connections_create_static_post_with_http_info(self, **kwargs):  # noqa: E501
        """Create a new static connection  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_create_static_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectionStaticRequest body:
        :return: ConnectionStaticResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_create_static_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/create-static', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionStaticResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_get(self, **kwargs):  # noqa: E501
        """Query agent-to-agent connections  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str alias: Alias
        :param str invitation_key: invitation key
        :param str my_did: My DID
        :param str state: Connection state
        :param str their_did: Their DID
        :param str their_role: Their role in the connection protocol
        :return: ConnectionList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.connections_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def connections_get_with_http_info(self, **kwargs):  # noqa: E501
        """Query agent-to-agent connections  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str alias: Alias
        :param str invitation_key: invitation key
        :param str my_did: My DID
        :param str state: Connection state
        :param str their_did: Their DID
        :param str their_role: Their role in the connection protocol
        :return: ConnectionList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['alias', 'invitation_key', 'my_did', 'state', 'their_did', 'their_role']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_get" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('invitation_key' in params and not re.search(r'^[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{43,44}$', params['invitation_key'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `invitation_key` when calling `connections_get`, must conform to the pattern `/^[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{43,44}$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('my_did' in params and not re.search(r'^(did:sov:)?[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{21,22}$', params['my_did'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `my_did` when calling `connections_get`, must conform to the pattern `/^(did:sov:)?[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{21,22}$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('their_did' in params and not re.search(r'^(did:sov:)?[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{21,22}$', params['their_did'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `their_did` when calling `connections_get`, must conform to the pattern `/^(did:sov:)?[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{21,22}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'alias' in params:
            query_params.append(('alias', params['alias']))  # noqa: E501
        if 'invitation_key' in params:
            query_params.append(('invitation_key', params['invitation_key']))  # noqa: E501
        if 'my_did' in params:
            query_params.append(('my_did', params['my_did']))  # noqa: E501
        if 'state' in params:
            query_params.append(('state', params['state']))  # noqa: E501
        if 'their_did' in params:
            query_params.append(('their_did', params['their_did']))  # noqa: E501
        if 'their_role' in params:
            query_params.append(('their_role', params['their_role']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connections_receive_invitation_post(self, **kwargs):  # noqa: E501
        """Receive a new connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_receive_invitation_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReceiveInvitationRequest body:
        :param str alias: Alias
        :param bool auto_accept: Auto-accept connection (defaults to configuration)
        :param str mediation_id: Identifier for active mediation record to be used
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_receive_invitation_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.connections_receive_invitation_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def connections_receive_invitation_post_with_http_info(self, **kwargs):  # noqa: E501
        """Receive a new connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_receive_invitation_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReceiveInvitationRequest body:
        :param str alias: Alias
        :param bool auto_accept: Auto-accept connection (defaults to configuration)
        :param str mediation_id: Identifier for active mediation record to be used
        :return: ConnRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'alias', 'auto_accept', 'mediation_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_receive_invitation_post" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('mediation_id' in params and not re.search(r'[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['mediation_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `mediation_id` when calling `connections_receive_invitation_post`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'alias' in params:
            query_params.append(('alias', params['alias']))  # noqa: E501
        if 'auto_accept' in params:
            query_params.append(('auto_accept', params['auto_accept']))  # noqa: E501
        if 'mediation_id' in params:
            query_params.append(('mediation_id', params['mediation_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/receive-invitation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
