# coding: utf-8

"""
    sp

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0.6.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TrustpingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def connections_conn_id_send_ping_post(self, conn_id, **kwargs):  # noqa: E501
        """Send a trust ping to a connection  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_send_ping_post(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param PingRequest body:
        :return: PingRequestResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connections_conn_id_send_ping_post_with_http_info(conn_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connections_conn_id_send_ping_post_with_http_info(conn_id, **kwargs)  # noqa: E501
            return data

    def connections_conn_id_send_ping_post_with_http_info(self, conn_id, **kwargs):  # noqa: E501
        """Send a trust ping to a connection  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connections_conn_id_send_ping_post_with_http_info(conn_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conn_id: Connection identifier (required)
        :param PingRequest body:
        :return: PingRequestResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conn_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connections_conn_id_send_ping_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conn_id' is set
        if self.api_client.client_side_validation and ('conn_id' not in params or
                                                       params['conn_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `conn_id` when calling `connections_conn_id_send_ping_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conn_id' in params:
            path_params['conn_id'] = params['conn_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/connections/{conn_id}/send-ping', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PingRequestResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
