
[submodule "libraries/controller"]
	path = libraries/controller
	url = https://github.com/NJITBlockchainLab/agent-controller.git
[submodule "libraries/network"]
	path = libraries/network
	url = https://github.com/NJITBlockchainLab/v-network.git
