[submodule "libraries/v-network"]
	path = libraries/v-network
	url = https://github.com/NJITBlockchainLab/v-network.git
[submodule "libraries/controller"]
	path = libraries/controller
	url = https://github.com/NJITBlockchainLab/agent-controller.git
