{% extends 'base.html' %}
{% block content %}
<html>
<head>
	<style>
		h1{
			font-family: "32px "Lucida Grande", Helvetica, Arial, sans-serif";  
			font-size: 1rem;
			color: rgb(68, 67, 67);
			text-align: center;
		}
		textarea {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		div {
			text-align: center;
		}
		p {
			text-align: center;
		}
	</style>
</head>
	<body>
		<div class="container">
		<p>Create Schema:</p>
		<form id="schema_form">
			<div>
				<label for="schema_name">Schema Name: </label>
				<input type="text" id="schema_name" name="schema_name"><br><br>
			</div>
			<div>
				<label for="schema_name">Schema Version: </label>
				<input type="text" id="schema_version" name="schema_version"><br><br>
			</div>
			<div>
				<label for="attributes">Please input an array of attributes:</label>
				<textarea id="attributes" name="attributes" rows="5" cols="70">
					[public_key]
				</textarea>
				<br><br>
			</div>
			<button class="btn btn-primary btn-lg btn-block mb-3" value="Submit">Submit</button>
		</form>
		</div>
		<div class="container">
		<p>Create Credential Definition:</p>
		<form id="cred_def_form">
			<div>
			<label for="schema_id">Schema ID:</label>
			<select id="schema_id" name="schema_id" method="GET" action="/">
				{% for schema in schemas %}
					<option value="{{schema}}" SELECTED>{{schema}}</option>
				{% endfor %}
			</select>
			</div>
			<div>
				<label for="connection_id">Recipient DID:</label>
				<select id="connection_id" name="connection_id" method="GET" action="/">
					{% for connection, value in connections.items() %}
						<option value="{{value}}" SELECTED>{{connection}}</option>
					{% endfor %}
				</select>
				</div>
			<button class="btn btn-primary btn-lg btn-block mb-3" value="Submit">Submit</button>
		</form>
		</div>

		<p>Get DID's Verkey From Ledger:</p>
		<form id="get_verkey_form">
			<div>
				<label for="did">Recipient's Endpoint DID:</label>
				<input type="text" style="width: 500px;" id="did" name="did">
				<button class="btn btn-primary btn-lg btn-block mb-3" value="Submit">Submit</button>
			</div>
		</form>

		<p>Issue Credential:</p>
		<form id="issue_cred_form">
			<div>
			<label for="cred_def_id">Credential Definition ID:</label>
			<select id="cred_def_id" name="cred_def_id" method="GET" action="/">
				{% for cred_def in credential_definitions %}
					<option value="{{cred_def}}" SELECTED>{{cred_def}}</option>
				{% endfor %}
			</select>
			</div>
			<div>
				<label for="connection_id">Recipient DID:</label>
				<select id="connection_id" name="connection_id" method="GET" action="/">
					{% for connection, value in connections.items() %}
						<option value="{{value}}" SELECTED>{{connection}}</option>
					{% endfor %}
				</select>
			</div>
			<div>
			<label for="verkey">Recipient's Verkey:</label>
			<input type="text" style="width: 500px;" id="verkey" name="verkey">
			<!-- <div>
				<label for="connection_id">Recipient Verkey:</label>
				<select id="connection_id" name="connection_id" onsubmit="document.write()">
					{% for connection in connections.items() %}
						<option value="{{connection}}" SELECTED>{{connection}}</option>
					{% endfor %}
				</select>
			</div> -->
			<button class="btn btn-primary btn-lg btn-block mb-3" value="Submit">Submit</button>
			</div>
		</form>
		</div>
	</body>
	<script>

		const schemaForm = document.getElementById('schema_form');
		const credDefForm = document.getElementById('cred_def_form');
		const issueCredForm = document.getElementById('issue_cred_form');
		const getVerkeyForm = document.getElementById('get_verkey_form');

		//turn JSON array in form data into a usable Array for the API POST
		function handleAttributes(formString,arrayString) {
			var attributesData = document.getElementById(formString).elements[arrayString].innerHTML;
			var attributesArray = attributesData.split("[").join("").split("]").join("").split("\n").join("").split(",");
			handledArray = [];
			for(let attr of attributesArray){
				handledArray.push(attr);
			}
			return handledArray;
		}
	
		schemaForm.addEventListener('submit', function(e) {
			e.preventDefault();
	
			//create formData variable
			const formData = new FormData(this);
	
			//handle the JSON array of attributes
			function handleArrayInForm(form,arrayStringName) {
				var attributesData = form.get(arrayStringName);
				var attributesArray = attributesData.split("[").join("").split("]").join("").split("\n").join("").split(",");
				handledArray = [];
				for(let attr of attributesArray){
					trimmedAttr = attr.trim();
					handledArray.push(trimmedAttr);
				}
				return handledArray;
			}
			
			const schemaBody = {};
	
			for(var pair of formData.entries()) {
				if(pair[0] != "attributes") {
					schemaBody[pair[0]] = pair[1];
				} 
				else {
					schemaBody[pair[0]] = handleArrayInForm(formData,'attributes');
				}
			}
			
			console.log(schemaBody);

			//POST the new schema to the ledger
			fetch('http://localhost:8021/schemas', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(schemaBody)
			}).then(function (response) {
				return response.text();
			}).then(function (text) {
				console.log(text);
			}).catch(function (error) {
				console.error(error);
			})
		});

		credDefForm.addEventListener('submit', function(e) {
			e.preventDefault();
	
			//create formData variable
			const formData = new FormData(this);
	
			//handle the JSON array of attributes
			function handleArrayInForm(form,arrayStringName) {
				var attributesData = form.get(arrayStringName);
				var attributesArray = attributesData.split("[").join("").split("]").join("").split("\n").join("").split(",");
				handledArray = [];
				for(let attr of attributesArray){
					handledArray.push(attr);
			}
			return handledArray;
		}
	
			const credDefBody = {"revocation_registry_size": 1000,"support_revocation": false,"tag": "default"};
	
			//iterate through credential definition form entries
			//add them to the credDefBody 
			for(var pair of formData.entries()) {
				credDefBody[pair[0]] = pair[1];
			}
	
			//POST the new credential definition to the ledger
			fetch('http://localhost:8021/credential-definitions', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(credDefBody)
			}).then(function (response) {
				return response.text();
			}).then(function (text) {
				console.log(text);
			}).catch(function (error) {
				console.error(error);
			})
		});

		getVerkeyForm.addEventListener('submit', function(e) {
			e.preventDefault();

			const formData = new FormData(this);

			let endpointDid = formData.get("did");
			console.log(endpointDid);

			fetch('http://localhost:8021/ledger/did-verkey?did=' + endpointDid, {
				headers: {'Accept': 'application/json'}
			}).then(function (response) {
				return response.text();
			}).then(function (text) {
				window.alert(text);
			}).catch(function (error) {
				console.error(error);
			})
		});


		issueCredForm.addEventListener('submit', function(e) {
			e.preventDefault();
	
			//create formData variable
			const formData = new FormData(this);
			let verkey = formData.get("verkey");

			function attributeStringToArray(inp) {
				var attributes = inp;
				var attributesArray = attributes.split("[").join("").split("]").join("").split("\n").join("").split(",");
				handledArray = [];
				for(let attr of attributesArray){
					attr = attr.trim();
					handledArray.push(attr);
				}
				return handledArray;
			}

			var attributesVar = {};
			const schemaFormTemp = new FormData(schemaForm);
			let schemaAttributes = schemaFormTemp.get('attributes');
			schemaAttributes = attributeStringToArray(schemaAttributes)
			//console.log(attributeStringToArray(schemaAttributes));
			//console.log(typeof(attributeStringToArray(schemaAttributes)));
			//get connection_id
			let connection_id = formData.get('connection_id');

			let credentialAttributes = [];
			for(let attr of schemaAttributes){
				let tempJson = {};
				console.log(attr);
				tempJson["name"] = attr;
				tempJson["value"] = verkey;
				credentialAttributes.push(tempJson);
			}
			
			//check if valid Json String
			function IsJsonString(str) {
				try {
					str;
				} catch (e) {
					return false;
				}
					return true;
			}
			//console.log(IsJsonString(schemaAttributes));

			credentialAttributes = credentialAttributes;
			
			//console.log(credentialAttributes);

			const credentialBody = {"auto_remove": true,"comment": "string","connection_id": connection_id,"trace": false, "credential_proposal":{"attributes":credentialAttributes}};
	
			//iterate through credential definition form entries
			//add them to the credentialBody 
			// for(var pair of formData.entries()) {
			//     credentialBody[JSON.stringify(pair[0]] = pair[1];
			// }

			//console.log(credentialBody);

			//POST the new credential definition to the ledger
			fetch('http://localhost:8021/issue-credential/send', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(credentialBody)
			}).then(function (response) {
				return response.text();
			}).then(function (text) {
				console.log(text);
			}).catch(function (error) {
				console.error(error);
			})
		});
	</script>
	<!-- <script>
		const newCRLForm = document.getElementById('create_crl');

		newCRLForm.addEventListener('submit', function(e) {
			e.preventDefault();

			const formData = new FormData(this);
			
			const file = formData.get('newCRL');
			console.log(JSON.stringify(file));

			function func(){
				var xml = new XMLHttpRequest();
				xml.open("POST",url_for("home"),true);
				xml.setRequestHeader("Content-type","multipart/form-data");

				xml.onload = function () {
					var dataReply = JSON.parse(this.responseText);
					console.log(dataReply);
					window.alert(dataReply);
				};

				xml.send(JSON.stringify(file));
			};
		});
	</script> -->

</html>
{% endblock %}